#Display {
  height: 80%;
  z-index:1;
}

h1{
  text-align:center;
  font-size:60px;
  vertical-align:middle;
}

p1{
  text-align:right;
  position:absolute;
  right:0;
  bottom:0;

}

h2 a{
  text-decoration: none;
  color: blue;
}

.PickedDate{
  position:relative;
  margin-top:20px;
  height: 85px;
  width: 250px;
  align-items:center;
  margin-left:auto;
  margin-right:auto;
  color: #310054;
  text-decoration: underline;
}

.pubs{
  font-style: italic;
  font-size: 20px;
}

.News{
  position:relative;
  margin-top:25px;
  margin-left:auto;
  margin-right:auto;
  min-height: 50px;
  margin-bottom: 25px;
  word-wrap:break-word;
  width:55%;
  border:10px #310054 solid;
  text-align: center;
  line-height: 100px;
  clear:both;
  right:0;
  left:0;
}
