* {
  margin: 0;
  padding: 0;
}

body{
  background-color:rgba(255, 255, 255, 0.65);
}

#head {
  margin: auto;
  width: 50%;
}
#logo {
  content:"";
  background: transparent url("DarkerPurp.png") scroll no-repeat 0 0;
  background-size: cover;
  min-width: 750px;
  height:250px;
  position:absolute;
  display:block;
  top:50px;
  left:+810px;

}
#logo2{}
.background {
  content: "";
  background: url('Newspaper.jpg');
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.13;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size:cover;
  position:absolute;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    font-size: 75px;
    overflow: hidden;
    outline:none;
    width:150px;
    height:150px;
    color: #310054;
}
 #letter {
    background-color: Transparent;
    font-size: 50px;
}

.Headingline {
  display:flex;
  justify-content: space-between;
  align-items:center;
  top: 225px;
  left: 222px;
  width: 80%;
  height: 50%;
  position:absolute;
}
#Disappear{
  z-index:2;
}
#Cir {
  display:inline-block;
  vertical-align:middle;
  text-align:center;
  line-height: 210px;
  width: 175px;
  height: 175px;
  border-radius:50%;
  border:10px #310054 solid;
}
/* .pointer interlines with .Headingline > div:hover to create a hover option for the circles. */
.pointer {cursor:pointer;}
#Cir:hover {
    border-radius: 0%;
    transition: all .25s ease-in-out;
  }


#Cir:active{
  opacity:0;
  transition: all 3s ease-in-out;
}
